@inject IConferenceHandler conferenceHandler
@page "/conference"

<CreateConferenceComponent/>

<button type="button" class="btn btn-primary w-50 btn-sm" @onclick="showActiveConferences">Vis active konferencer</button>

@if (conferences.Count > 0){
    <ConfrenceTableComponent conferences="@conferences"/>
}

@code {

    private List<Conference> conferences = new();

    private async Task showActiveConferences()
    {
        conferences = await conferenceHandler.getActiveConferences(new ConferenceFilter());
    }

}