@page "/dashboard"
@inject IAuthService AuthService
@inject Blazored.LocalStorage.ILocalStorageService localStorage;

@if (_user is not null)
{
	<div class="container dashboardContainer">
		@switch (_user.Role.ToString())
		{
			case "Admin":
				<AdminDashboardComponent />
				break;
			case "Organizer":
				<OrganizerDashboardComponent />
				break;
			case "Reviewer":
				<ReviewerDashboardComponent />
				break;
			case "Applicant":
				<ApplicantDashboardComponent></ApplicantDashboardComponent>
				break;
		}
	</div>
}

@code {
	private User? _user;
	protected override async Task OnInitializedAsync()
	{
		_user = await AuthService.GetCurrentUser();
	}
}