@using conferencePlannerCore.Models
@inject IAbstractService AbstractService
<h3>AbstractListComponent</h3>


    <table class="table table-striped">
       
        <tbody>
            @foreach (var _abstract in _abstractList)
            {
                <tr @onclick="() => SetAbstract(_abstract)">
                    <td>@_abstract.Title</td>
                                   </tr>
            }
        </tbody>
    </table>


@code {
    [Parameter]
    public List<Abstract> _abstractList { get; set; }

    [Parameter]
    public EventCallback<Abstract> OnAbstractSelected { get; set; }
    private async Task SetAbstract(Abstract _abstract)
	{
		await OnAbstractSelected.InvokeAsync(_abstract);
	}
}
