@inject IJSRuntime JS

<div class="modal-overlay" @onclick="CloseModal">
    <div class="modal-content card shadow bg-dark text-light" @onclick:stopPropagation="true">
        <div class="card-body">
            <button type="button" class="btn-close btn-close-white float-end" aria-label="Close" @onclick="CloseModal"></button>
            @ChildContent
        </div>
    </div>
</div>

@code
{

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await JS.InvokeVoidAsync("document.body.classList.add", "modal-open");
    }

    private async Task CloseModal()
    {
        await JS.InvokeVoidAsync("document.body.classList.remove","modal-open");
        await OnClose.InvokeAsync();
    }

    public async ValueTask DisposeAsync()
    {
        await JS.InvokeVoidAsync("document.body.classList.remove","modal-open");
    }
}