@inject IJSRuntime JS

<div class="modal-overlay" @onclick="CloseModal">
    <div class="modal-content card shadow bg-white text-dark" @onclick:stopPropagation="true">
        <div class="card-body">
            <button type="button" class="btn-close float-end" aria-label="Close" @onclick="CloseModal"></button>
            @ChildContent
        </div>
    </div>
</div>

@code
{
    // any component or page file that ends in .razor
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    // A function that defines what happens when the closes. The function can change a bool,
    // and/or any other needed information. This is defined in the calling component/page.
    [Parameter]
    public EventCallback OnClose { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await JS.InvokeVoidAsync("document.body.classList.add", "modal-open");
    }

    private async Task CloseModal()
    {
        await JS.InvokeVoidAsync("document.body.classList.remove","modal-open");
        await OnClose.InvokeAsync();
    }

    public async ValueTask DisposeAsync()
    {
        await JS.InvokeVoidAsync("document.body.classList.remove","modal-open");
    }
}