@inject IUploadFileService UploadFileService
@inject IJSRuntime JSRuntime


<div class="upload-container">
	<InputFile OnChange="@HandleSelectedFile" accept="@AcceptedFileTypes"></InputFile>
	@if (!string.IsNullOrEmpty(_imageUrl))
	{
		<div class="image-preview">
			<img src="@_imageUrl" alt="Image preview" style="max-width: 300px; max-height: 300px;" />
		</div>
	}
</div>

@code {
	[Parameter]
	public EventCallback<string> OnFileUploaded { get; set; }
	[Parameter]
	public string? AcceptedFileTypes { get; set; }
	[Parameter]
	public int AcceptedSize { get; set; }
	private string? _imageUrl { get; set; }

	private async Task HandleSelectedFile(InputFileChangeEventArgs e)
	{
		var file = e.File;
		var imgString= await UploadFileService.ConvertToBase64String(file);
		PreviewImage(file, imgString);
		await OnFileUploaded.InvokeAsync(imgString);
	}

	private void PreviewImage(IBrowserFile file, string imgstring)
	{
		_imageUrl = $"data:{file.ContentType};base64,{imgstring}";
		StateHasChanged();
	}

}
