<div class="nav-container">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">conferencePlannerApp</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu" title="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <nav class="@NavMenuCssClass nav-menu">
        <NavLink class="nav-item nav-link" style="color:#1c4966;" href="/" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu"></span> Home
        </NavLink>
        <NavLink class="nav-item nav-link" style="color:#1c4966; href="counter">
            <span class="bi bi-plus-square-fill-nav-menu"></span> Counter
        </NavLink>
        <NavLink class="nav-item nav-link" style="color:#1c4966; href="weather">
            <span class="bi bi-list-nested-nav-menu"></span> Weather
        </NavLink>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
