@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<nav class="navbar navbar-expand-sm navbar-light custom-navbar">
    <div class="container-fluid d-flex justify-content-start">
        <a class="navbar-brand d-flex align-items-center" href="@logohref">
            <svg viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin meet">
                <g id="Danva">
                </g>
            </svg>
        </a>

        <div class="navbar-collapse collapse">
            @if (_user is not null)
            {
                <ul class="navbar-nav me-auto">
                    @switch (_user.Role.ToString())
                    {
                        case "Admin":
                            <li class="nav-item">
                                <NavLink class="nav-link" href="" style="color: white;">Se konferencer</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="conference" style="color: white;">Opret Konference</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="review" style="color: white;">Se Bedømmelser</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="scheduler" style="color: white;">Opret Program</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="upload-abstract" style="color: white;">Indsend Abstrakt</NavLink>
                            </li>
                            break;

                        case "Organizer":
                            <li class="nav-item">
                                <NavLink class="nav-link" href="view-conference" style="color: white;">Se Konferencer</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="conference" style="color: white;">Opret Konference</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="review" style="color: white;">Bedøm Abstrakter</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="scheduler" style="color: white;">Opret Program</NavLink>
                            </li>
                            break;

                        case "Applicant":
                            <li class="nav-item">
                                <NavLink class="nav-link" href="upload-abstract" style="color: white;">Indsend abstrakt</NavLink>
                            </li>
                            break;

                        case "Reviewer":
                            <li class="nav-item">
                                <NavLink class="nav-link" href="review" style="color: white;">Review</NavLink>
                            </li>
                            break;
                    }
                </ul>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="profile" style="color: white;">Min Profil</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" @onclick="OnSignOut" style="color: white;">Logud</NavLink>
                    </li>
                </ul>
            }
            else
            {
                
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="login" style="color: white;">Login</NavLink>
                    </li>
                </ul>
            }
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private string? logohref = "/";
    private User? _user;

    protected override async Task OnInitializedAsync()
    {
        _user = await AuthService.GetCurrentUser();
        if (_user is not null)
        {
            logohref = "/dashboard";
        }
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public async Task OnSignOut()
    {
        await AuthService.ClearCurrentUser();
        NavigationManager.NavigateTo("/", forceLoad: true);
    }
}
