<div class="dashboardButton">
	Opret konference
</div>
<div class="dashboardButton">
	Se konferencer
</div>
<div class="dashboardButton">
	Se reviews
</div>
<div class="dashboardButton">
	Opret program
</div>

@code {

}