@using Microsoft.AspNetCore.Components.Authorization
@using conferencePlannerApp.Services.RoleAutherization


<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectToHomePage />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <!-- This shows when the URL doesn't match any page -->
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>